@font-face {
    font-family: "custom";
    src: url(font/JosefinSans-VariableFont_wght.ttf) format('truetype');
}

*{
    padding: 0;
    margin: 0;
    font-family: 'custom';
}

header{
    text-align: center;
    padding: 70px 10px 70px 10px;
    background-image: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.header-picture{
    padding-bottom: 30px;
}

.header-head-div{
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 20px;
}

.header-p-div{
    padding-bottom: 20px;
    color: rgb(180, 180, 180);
}

.header-second-div{
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ios-button,
.mac-button{
    width: 80%;
    margin-bottom: 20px;
    height: 50px;
    border: 0;
    border-radius: 50px;
}

.ios-button{
    background-color: rgb(50, 231, 129);
    box-shadow: 2px 7px 11px 0px rgba(12, 192, 93, 0.29);
}

.mac-button{
    background-color: dodgerblue;
    box-shadow: 2px 7px 11px 0px rgba(94, 79, 233, 0.29);
}

.ios-button > a,
.mac-button > a {
    text-decoration: none;
    color: white;
}


.keep-track-whole-div{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.keep-track-header{
    padding: 20px 30px 20px 30px;
}

.keep-track-p{
    padding: 20px 20px 20px 20px;
    color: rgb(180, 180, 180);
}

.third-div{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0 20px 0;
}

.third-div-picture{
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
}

.third-div-section-1,
.third-div-section-2,
.third-div-section-3 {
    margin: 40px 0 40px 0;
    padding: 0 20px 0 20px;
}

.third-div-section-1 > p,
.third-div-section-2 > p,
.third-div-section-3 > p {
    color:  rgb(180, 180, 180);
}

.third-div-section-1 > h3,
.third-div-section-2 > h3,
.third-div-section-3 > h3 {
    margin: 10px 0 10px 0;
}

.fourth-div{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0 20px 0;
}

.fourth-div > p {
    padding: 20px 20px 20px 20px;
    color:  rgb(180, 180, 180);
}

.fourth-div > img {
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
}

.fifth-div {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fifth-div-section-1 {
    margin: 20px 0 100px 0;
    padding: 0 20px 0 20px;
}

.fifth-div-section-1 > h1 {
    margin: 10px 0 10px 0;
}

.fifth-div-section-1 > p {
    color:  rgb(180, 180, 180);
}

.fifth-div-sub-section-1,
.fifth-div-sub-section-2,
.fifth-div-sub-section-3 {
    margin: 0 0 50px 0;
    padding: 0 20px 0 20px;
}

.fifth-div-sub-section-1 > h3,
.fifth-div-sub-section-2 > h3,
.fifth-div-sub-section-3 > h3 {
    margin: 40px 0 20px 0;
}

.fifth-div-sub-section-1 > p,
.fifth-div-sub-section-2 > p,
.fifth-div-sub-section-3 > p {
    color:  rgb(180, 180, 180);
}

.the-five-images-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.the-five-images{
    margin: 25px 0 25px 0;
}

.sixth-div {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px 0 20px;
    margin: 0 0 100px 0;
}

.sixth-div > h1 {
    margin: 20px 0 20px 0;
}

.sixth-div > p {
    color:  rgb(180, 180, 180);
    margin-bottom: 30px;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
}

footer > img {
    height: 50px;
    width: 50px;
    margin: 70px 0 30px 0;
}

.footer-list {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-list > a {
    margin: 10px 0 10px 0;
    text-decoration: none;
    color:  rgb(134, 134, 134);
}

.icon-footer-div {
    margin: 20px 0 20px 0;
}

.icon-footer-div > a {
    margin: 0 10px 0 10px;
    text-decoration: none;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 767px) {
    header {
        background-image: url(images/bg-header-desktop.png);
        background-repeat: no-repeat;
        
    }

    .header-p-div {
        width: 500px;
        margin: 0 auto;
    }

    .header-second-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .ios-button,
    .mac-button {
        height: 40px;
        width: 150px;
        margin: 0 10px 0 10px;
    }

    .keep-track-p {
        width: 568px;
        margin: 0 auto;
    }

    .third-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .third-div-picture {
        width: 50%;
        margin: 0 20px 0 10px;
    }

    .third-div-all-section {
        margin: 0 0 0 20px;
    }

    .third-div-section-1,
    .third-div-section-2,
    .third-div-section-3 {
        text-align: left;
        width: 300px
    }

    .three-imgs {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .fourth-div > p {
        width: 568px;
        margin: 0 auto;
    }

    .fifth-div-section-2 {
        width: 100%;
    }

    .fifth-div-sub-section-1,
    .fifth-div-sub-section-2,
    .fifth-div-sub-section-3 {
        width: 20%;
    }

    .the-five-images-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 50px 0 70px 0;
    }

    .the-five-images {
        margin: 0 20px 0 20px;
        width: 100px;
    }

    .sixth-div > p {
        width: 568px;
        margin: 0 auto;
    }

    .buttom-button {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-list {
        display: grid;
        grid-template-columns: 150px 150px 150px;
        grid-template-rows: 50px 50px;
        text-align: left;
    }

    footer > img {
        margin-left: 100px;
        align-items: center;
        margin: 0 10px 0 80px;
    }

    .icon-footer-div {
        margin-right: 50px;
    }
}